@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - eBookStore</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <style>

        .sidebar {
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            padding: 58px 0 0; /* Height of navbar */
            box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
            width: 240px;
            z-index: 600;
        }

        @@media (max-width: 991.98px) {
            .sidebar {
                width: 100%;
            }
        }

        .sidebar .active {
            border-radius: 5px;
            box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
        }

        .sidebar-sticky {
            position: relative;
            top: 0;
            height: calc(100vh - 48px);
            padding-top: 0.5rem;
            overflow-x: hidden;
        }
    </style>
    <header>
        <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-dark">
            <div class="position-sticky">
                <a class="navbar-brand pl-3" asp-area="" asp-controller="Home" asp-action="Index">eBookStore</a>
                <div class="list-group list-group-flush mx-3 mt-4">

                    <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>

                    @if (HttpContextAccessor.HttpContext.Session.GetString("UserRole") != null && HttpContextAccessor.HttpContext.Session.GetString("UserRole") == "Admin")
                    {
                        <a class="nav-link text-light" asp-area="" asp-controller="User" asp-action="Index">User</a>
                        <a class="nav-link text-light" asp-area="" asp-controller="Author" asp-action="Index">Author</a>
                        <a class="nav-link text-light" asp-area="" asp-controller="Publisher" asp-action="Index">Publisher</a>
                        <form asp-action="Logout" asp-controller="Home" method="post" class="form-inline">
                            <button type="submit" class="btn btn-link text-light navbar-btn">Logout</button>
                            @Html.AntiForgeryToken()
                        </form>
                    }
                    else if (HttpContextAccessor.HttpContext.Session.GetString("UserRole") != null && HttpContextAccessor.HttpContext.Session.GetString("UserRole") == "User")
                    {
                        <a class="nav-link text-dark" asp-area="" asp-controller="Author" asp-action="Index">Author</a>
                        <form asp-action="Logout" asp-controller="Home" method="post" class="form-inline">
                            <button type="submit" class="btn btn-link navbar-btn">Logout</button>
                            @Html.AntiForgeryToken()
                        </form>
                    }
                    else
                    {
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Login">Login</a>
                    }

                </div>
            </div>
        </nav>

    </header>

    <main role="main" style="padding-left:240px">
        <div class="container" style="padding-top: 20px; padding-left:20px">
            @RenderBody()
        </div>
    </main>


    <footer style="padding-left:240px" class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - eBookStore - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
